rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    match /covers/{userId}/{document=**} {
      allow read: if request.auth != null;
      allow delete, create: if request.auth.uid == userId;
    }
  }
}
